S3_RAW_BUCKET
S3_BRONZE_BUCKET
S3_GOLD_BUCKET
SQS_QUEUE_URL
HITL_QUEUE_URL
AWS_REGION
AWS_ACCOUNT_ID
TEXTRACT_SNS_ARN
TEXTRACT_ROLE_ARN
SAGEMAKER_ROLE_ARN
SAGEMAKER_FEATURE_STORE_ENDPOINT
KMS_KEY_ID
FEATURE_GROUP_NAME
UNDERWRITER_PORTAL_URL
PERSONALISATION_ENGINE_URL
HITL_DASHBOARD_URL
QUICKSIGHT_DATASET_ID